.buttonIcon {
  background: none;
  border: none;
  padding: 0.4rem;
  transition: all 0.2s;
  border-radius: var(--border-radius-sm);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.buttonIcon:hover {
  cursor: pointer;
  background-color: #f3f4f6;
}
.buttonIcon svg {
  color: var(--color-brand-600);
  width: 1.6rem;
  height: 1.6rem;
  transition: all 0.2s;
}
.buttonIcon:hover svg,
.buttonIcon:focus svg {
  fill: var(--icon-color);
}

.buttonIcon:focus {
  box-shadow: 0 0 0 2px var(--icon-color);
}
