.message {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  font-size: 0.75rem;
}

:global(.wrong) {
  background: var(--dangerRed) !important;
  font-weight: 600;
}
