.ul {
  width: 50%;
  height: 60px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul:first-child {
  margin-left: 30px;
}

.ul li {
  font-weight: 600;
}
